<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.basephonedatalibrary">

<!--    &lt;!&ndash; 读取日历权限 &ndash;&gt;
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    &lt;!&ndash; 访问手机硬件信息 &ndash;&gt;
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    &lt;!&ndash; 读取Wifi状态 &ndash;&gt;
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    &lt;!&ndash; 蓝牙权限 &ndash;&gt;
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    &lt;!&ndash;拍照&ndash;&gt;
    <uses-permission android:name="android.permission.CAMERA" />

    &lt;!&ndash; 写外部存储 &ndash;&gt;
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    &lt;!&ndash; 读外部存储 &ndash;&gt;
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    &lt;!&ndash; 访问手机联系人 &ndash;&gt;
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    &lt;!&ndash; 8.0请求安装外部包 &ndash;&gt;
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    &lt;!&ndash; 拨打电话 &ndash;&gt;
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    &lt;!&ndash; 读取电话 &ndash;&gt;
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    &lt;!&ndash; 读取短信内容 &ndash;&gt;
    <uses-permission android:name="android.permission.READ_SMS" />

    &lt;!&ndash; 定位权限 &ndash;&gt;
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
</manifest>